:root {
  --primary-blue : #0D28A6;
  --primary-lime-green : #5CB85F;

}

body {
  font-family: Helvetica;
}

.text-xl {
  font-size: 36px;
}

p {
  font-size: 14px;
}

.btn-bg {
  background-color: var(--primary-lime-green);
  color: white;
}

.bg-header {
  background-color: #F1F3FF;
}

/* hero */
#hero .car {
  position: relative;
  z-index: 1;
  margin-left: 10px;
}

#hero .car-bg {
  border-radius: 60px 0 0 0;
  height: 243px;
  width: 704px;
  z-index: 0;
  position: absolute;
  top: 190px;
  background-color: var(--primary-blue);
  margin-left: 10px;
}

/* akhir hero */

/* our services */
#our-services .our-services-list {
  list-style-image:  url('/./assets/icon/checklist.svg');
}
/* akhir our services */

/* why us */
#why-us .card {
  width: 268px;
  margin-right: 32px;
  border: 1px solid #D0D0D0;
}

#why-us .card-body {
  padding: 24px;
  line-height: 24px;
}

#why-us .card-title {
  font-size: 16px;
}

#why-us .card-text {
  font-size: 14px;
}
/* akhir why us */

/* testimonial */
#testimonial .carousel-img {
  border-radius: 50%;
  width: 80px; 
  height: 80px;
  margin: 0 20px;
}

.owl-carousel {
  overflow: hidden;
}

#testimonial .bg-testimonial {
  overflow: hidden;
  position: relative;
  background-color: #F1F3FF;
  width: 100%;
  height: 270px;
  border-radius: 8px;
  display: flex;
}

#testimonial .bg-testimonial .review {
  font-weight: 300;
}

#testimonial .bg-testimonial .reviewer {
  font-weight: 400;
}

.owl-nav {
  margin: 24px 0 0;
  text-align: center;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  margin: 0px 20px 0;
  height: 32px;
  width: 32px;
  background: white;
  border: 1px solid #C4C4C4;
  border-radius: 50px;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
  background: var(--primary-lime-green);
  color: white;
  border: none;
}
/*  */

/* getting started */
#getting-started {
  color: white;
  background-color: var(--primary-blue);
  border-radius: 1rem;
}

#getting-started h2 {
  font-size: 2.2rem;
}

#getting-started p {
  font-size: 0.9rem;
}


/* footer */
footer .footer-nav a {
  font-size: 14px;
}

footer .social-media a {
  width: 32px;
  height: 32px;
  background-color: var(--primary-blue);
}

footer .social-media img {
  width: 20px;
  height: 20px;
}

footer .logo {
  background-color: var(--primary-blue);
  width: 100px;
  height: 34px;
}
/* akhir footer */


.cari-bg {
  margin: 0 146px;
  position: relative;
  top: -30px;
  z-index: 2;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #00000026;

  font-size: 12px;
}

.cari-bg form{
  padding: 20px;
}

.cari-bg .form-select {
  width: auto;
}

.cari-bg .cari .penumpang-input {
  border-right: none;
}

.cari-bg .cari .input-group-text {
  background-color: white;
  border-left: none;
}

.cari-bg .cari option {
  color: black;
  background: white;
}

.cari-bg .cari option:hover {
  color: #5CB85F;
  background: #C9E7CA;
}

.cari-bg .btn-cari {
  width: 122px;
  position: relative;
  top: 20px;
}

.cari-bg .btn-cari button {
  font-size: 14px;

}

.cari-bg select .form-control {
  font-size: 12px;
}

#cars-container {
  margin: 0 146px;
  display: flex;
  align-content: space-around;
  justify-content: space-around;
}

.carCard {
  width: 270px;
  text-align: left;
  padding: 10px;
}

.carCard .car-img {
  width: 100%;
  max-height: 180px;
  margin-bottom: 10px;
}

.carCard .car-icon {
  width: auto;
  height: 20px;
}

@media screen and (max-width: 768px) {  
  #hero .car-bg {
    top: 400px;
    height: 150px;
  }

  #why-us .why-text {
    text-align: center;
  }
  #why-us .card {
    width: 100%;
  }
  #testimonial .bg-testimonial {
    flex-direction: column;
    padding: 80px 0;
  }

  #testimonial .rate {
    margin: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer .social-media {
    margin-left: 5px;
  }

  .cari-bg {
    margin: 0;
  }
}

